/* styles.css */

* {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    cursor: url("cursor.png"), auto;
}

a {
    cursor: url("cursor.png"), auto;

}

a:hover, input:hover {
    cursor: url("pointer.png"), auto;
}

html {
    font-size: 18px;
    text-rendering: optimizeLegibility;

}

header,
footer,
aside,
section {
    display: block;
    background-color: #000B10;
}

body {
    font-family: "Source Sans Pro","Open Sans",Verdana,sans-serif;
    display: flex;
    font-size: 1em;
    font-weight: 200;
    flex-direction: column;
    background-color: #000B10;
    color: #80d5ff;
    padding: 0;
    margin: 0;
}

img {
    max-width: 300px;

}


/* balises de bases */
header {
    background-color: #002b40;
    color: #bfeaff;

}

hr {
    padding: 0px 50%;
    color: #002B40;
    background: #002B40;
    margin: 10px;

}
a {
    color: #0AF;
    font-style: revert;
    font-weight: normal;
    font-size: 0.75em;
}
h1 {
    font-size: 3rem;
    margin: 24px;
}
p {
    margin: 24px;
}

footer {
    color: #0080bf;
    background: #001520;
    margin-bottom: 0;
    text-align: center;
}

section {
    margin-bottom: 50px;

}

.introduction {
    background: #001520;
    color: #bfeaff;
    padding: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.footer {
    margin: 3%;
    padding: 3%;
}

.out {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    padding: 3%;
    justify-content: space-between;

}

/* ################ element navbar*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.button {
    color: #bfeaff;
    background-color: #002B40;
    padding: 0rem 0.75rem;
    text-decoration: none;
    height: 56px;
    align-items: center;
    display: flex;
}
.button:hover {
    color: #0AF;
    background-color: #00121D;
    cursor: pointer;
}

#burger {
    display: none;
    flex-direction: column;

}

.rightitems {
    display: flex;
}

.nav-btn {
    padding: 8px 20px;
}

.logo {
    padding: 8px;
    width: auto;
    display: grid;
    align-items: center;
    height: 56px;
    max-height: 56px;
    color: #bfeaff;
}

.logo:hover {
    background-color: #001A26;
    cursor: url("pointer.png"), auto;

}

.icon {
    max-height: 56px;
    padding-right: 5px;
    display: flex;
}

.presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.fly {
    box-shadow: 0px 0px 50px #002B40;
    border-radius: 25px;
    background: #001520;
    padding: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    height: 100px;
}

.flyme {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    padding: 0 20px;
    border: none;
    color: #bfeaff;
    background: #001520;
    border-radius: 15px;

}

.flyit {
    padding: 8px;
    width: auto;
    height: 56px;
    color: #bfeaff;
}

.flyit:hover {
    background-color: #001A26;
    cursor: url("pointer.png"), auto;

}

.searchbar {
    width: 220px;
}

.search {
    background: #000B12;
}

.topics {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#bio {
    padding-left: 1rem;
    max-width: 70%;
    padding: 3% 5%;

}

.btn_shadow {
    max-height: 30px;
    position: relative;
    top: 10px;
    box-shadow: 5px 10px 5px #000;
}

.btn_shadow:hover {
    border-radius: 5px;
    outline: 5px solid #fff;
    cursor: url("pointer.png"), auto;
}

.accessibility {
    font-weight: 500;
    font-size: 20px;
    box-shadow: 0px 0px 50px #002B40;
    border-radius: 15px;
    background: #001520;
    padding: 15px;
    width: auto;
    display: none;
}

.colors {
    font-weight: 500;
    font-size: 14px;
    border-radius: 15px;
    padding: 30px;
    background: #001520;
    color: #bfeaff;
    border: none;
}

.colors:hover {
    background: #000B12;
}

.center {
    text-align: center;
    width: 100%;
}

@keyframes anim_levitate {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}

.animation {
    animation-name: anim_levitate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}





/* Mobile */
.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;

}

@media screen and (max-width: 1023px) {
    nav .icon {
        max-height: 40px;
        padding-right: 8px;
        display: flex;

    }

    form {
        width: 200px;

    }

    #bio {
        max-width: 100%;
    }

    #bar {
        position: absolute;
        left: 10%;
        top: 8%;

    }

    #search {
        top: 8%;
        right: 41%;
    }

    .mascotte001{
        left: 90px;
    }

    .mascotte002{
        left: 100px;
        top: -224px;

    }

    .columns {
        display: block;

    }
    .insideoftheform {
        margin: 0px;
        width: 80%;
        padding: 10%;
    }
}

/* styles.css */
