nav {
    color: #002B40;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}

hr {
	padding: 0px 50%;
	color: #002B40;
	background: #002B40;
	margin: 10px;

}

a {
	color: #80d5ff;
	font-size: 0.75em;
	letter-spacing: 0.1em;
	font-style: revert;
	font-weight: normal;

}

h1 {
	font-size: 3rem;
	margin: 24px;
}

p {
	margin: 24px;

}

footer {
        color: #0080bf;
        background: #001520;

}


footer * {
        color: #0080bf;
        margin-left: 12%;
}

.container {
	margin: 0 auto;
	position: relative;
	width: auto;

}

#main {
	flex: none;
}

.startup {
	color: #0AF;
	margin: 24px;

}

#navbar {
	background-color: #002B40;
	color: #BDEBF9;
	align-items: center;
	display: flex;
}

.smallfont {
	font-size: 14px;

}

.button:hover {
	background-color: #001A26;
	cursor: pointer;
}

#main {}

.cta {
	max-height: 75px;
	color: #bfeaff;
	background-color: #002B40;
	padding: 0rem 0.75rem;
	text-decoration: none;
	height:40px;
	align-items: center;
	display: flex;
}

.cta:hover {
	background-color: #001A26;
	cursor: pointer;
}


