html {
	font-size: 16px;

}

input {
	height: 2rem;
	width: 15%;
	margin: 2%;
	margin-right: 50%;

}

.feedbackform {
	margin: 3%;

}

.main input,
.main textarea {
	display: flex;
	width: 350px;
	margin-left: 5%;

}

.container {
margin: 0 auto;
  position: relative;
  width: auto;

}

.middlepage {
  padding: 0 14%;

}

.coord {
margin-right: 14%;

}

form input,
form select {
	margin: 3%;
	width: auto;
}

textarea {
	margin: 10%;
	height: 200px;
	width: 300px;

}

.insideoftheform {
	  margin-bottom: 50%;

}

.arrowdiv {
text-align: end;
  display: block ruby;

}

.arrowstick {
padding: 1% 10%;
  margin: -5%;

}

.arrowend {
padding: 8%;
  border-radius: 0 100% 100% 0;

}
