img {
	max-width: auto;

}

.footer {
	margin: 3%;

}

.out {
display: flex;
  flex-direction: row-reverse;
  text-align: center;
  padding: 3%;
  justify-content: space-between;
}

.conteneur {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	gap: 20%;

}
