* {
    font-family: custom;
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    cursor: url("./img/icon/cursor.png"), auto;
    text-transform: uppercase;
}

@font-face {
    font-family: K2D;
    src: url('K2D.ttf');
}

@font-face {
    font-family: custom;
    src: url('custom.ttf')
}

html {
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

header,
footer,
aside,
section {
    display: block;
    background-color: #000B10;
}

.nopacity {
    opacity: 1 !important;
}

body {
    font-family: "Source Sans Pro", "Open Sans", Verdana, sans-serif;
    display: flex;
    font-size: 1em;
    font-weight: 200;
    flex-direction: column;
    background-color: #000B10;
    color: #80d5ff;
    padding: 0;
    margin: 0;
}

img {
    max-width: 300px;

}

header {
    background-color: #002b40;
    color: #bfeaff;

}

hr {
    padding: 0px 50%;
    color: #002B40;
    background: #002B40;
    margin: 10px;
}

a,
input,
img {
    font-style: revert;
    font-weight: normal;
    font-size: 0.75em;
    cursor: url("./img/icon/pointer.png"), auto;
}

a:hover,
input:hover,
li:hover {
    opacity: .7;
}



/* ################### */
/* BANNER */
/* ################### */
.ban {
    background-color: #001520;
    position: relative;
    padding: 2%;
}

.salut {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.banner-title {
    padding-right: 33%;
    color: #bfeaff;
    text-align: center;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.arrow-left {
    cursor: url("pointer.png"), auto;
    position: absolute;
    left: 20px;
    padding: 1%;
}

.arrow-left:hover {
    background-color: #00AAFF;
}

.arrow-right {
    cursor: url("pointer.png"), auto;
    position: absolute;
    right: 20px;
    padding: 1%;
}

.arrow-right:hover {
    background-color: #00AAFF;
}


#disp {
    cursor: url("pointer.png"), auto;
}

p {
    margin: 24px;
    font-weight: 500;
    font-size: 11px;
}



/* ####################### */
/* NAVBAR ASSET
/* ####################### */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    height: 42px;
}

.links {
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.access {
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    height: 150px;
}

.access-hidden {
    height: 0;
    opacity: 0;
}

.link {
    display: flex;
    align-items: center;
    color: #bfeaff;
    padding: 4px 8px;
    height: 40px;
}

.login-link {
    width: 128px;
    background-color: #001520;
    justify-content: center;
}

.ico38 {
    height: 38px;
}

.burger {
    display: none;
}

.burger:hover {
    opacity: .8;
}



/* ####################### */
/* API ASSET
/* ####################### */
.seo {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 12px;
    height: 30px;
    width: 200px;
    right: -56%;
    right: 30px;
    box-shadow: 0px 0px 20px #006495;
    align-items: center;
    border-radius: 100px;
}

.sep2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.api-text {
    font-size: 16px;
    font-weight: 500;
    height: auto;
    padding: 0 20px;
    border: none;
    color: #bfeaff;
    background: #001520;
    width: 70%;
}

.api-text:hover {
    opacity: .8;
}

.api-btn {
    background: transparent;
    border: none;
}

.api-btn:hover {
    opacity: .8;
}

.cont-result {
    position: absolute;
    top: 52px;
    background: #001520;
    width: 85%;
}

.result {
    display: flex;
    padding: 4px;

}

.result:hover {
    outline: auto;

}

.result img {
    height: 64px;
}

.result p {
    font-size: 11px;

}

.access-btn {
    height: 30px;
    z-index: 5;
    position: absolute;
    box-shadow: 5px 10px 5px #000;
    right: 30px;
    top: 80px;
}

.access-btn:hover {
    border-radius: 5px;
    outline: 4px solid #fff;
    opacity: 1 !important;
}


.colors {
    width: 90px;
    height: 40px;
    background: #001520;
    color: #bfeaff;
    border: none;
}

.colors:hover {
    background: #000B12;
}

.center {
    text-align: center;
    width: 100%;
}

@keyframes access-anim {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}

.access-anim {
    animation-name: access-anim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}



/* ####################### */
/* LANGUAGES  */
/* ####################### */
.lang-banner {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.lang-retour {
    position: absolute;
    right: 32px;
    top: 32px;
}

.lang-retour:hover {
    opacity: .8;
}

.vid-container {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vid-content {
    width: 50%;
}

.btn-lang {
    margin: 10px;
    border: 2px solid black;
    background-color: orange;
    padding: 5px 15px;
    font-size: 18px;

}

.lang-info {
    border: 2px solid black;
    padding: 0 10px;
    color: darkred;
    background-color: yellowgreen;
}



/* ####################### */
/* MEDIA QUERIES */
/* ####################### */
@media screen and (max-width: 800px) {
    .burger {
        display: flex;
    }

    .burger:hover {
        opacity: .8;
    }

    form {
        width: 200px;
    }

    #bio {
        max-width: 100%;
    }

    #bar {
        position: absolute;
        left: 10%;
        top: 8%;
    }

    #search {
        top: 8%;
        right: 41%;
    }

    .mascotte001 {
        left: 90px;
    }

    .mascotte002 {
        left: 100px;
        top: -224px;
    }

    .columns {
        display: block;
    }

    .insideoftheform {
        margin: 0px;
        width: 80%;
        padding: 10%;
    }

    .cont-api {
        justify-content: space-around;
        display: flex;
        align-items: end;
        border-radius: 0;
        top: -30px;
        z-index: 2;
        width: 100%;
        left: 0;
        box-shadow: 0px 0px 30px #0000;
        background: #001520;
        padding: 12px 0;
    }

    .cont-result {
        top: 70px;
    }

    .links {
        height: 200px;
        text-align: left;
        position: relative;
        align-items: start;
        display: flex;
        flex-direction: column;
    }

    .hidden {
        height: 0;
        opacity: 0;
    }

    .link {
        color: #bfeaff;
        padding: 4px 8px;
    }

    .banner-title {
        font-size: 10px;
    }

    .cont-result {
        width: 100%;
    }

    .access {
        transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        height: 200px;
        z-index: 3;
        position: relative;
    }

    .access-hidden {
        height: 0;
        opacity: 0;
    }
    .access-btn {
        top: 50px;
        right: 50px
    }
}